$font-base: Helvetica, sans-serif;
$font-size: 16px;
$font-line:	18px;

$white: #fff;

$primary-color: #687387;
$secondary-color: #687387;
$primary-background: #eff2f3;
$secondary-background: $white;
$primary-border: #e6e6e6;

$highlight-color: #418fff;
$success-color: #77bd47;
$failure-color: #ed3e29;

$even-color: rgba(213, 229, 234, 0.6);
$odd-color: rgba(239, 242, 243, 0.6);